html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;overflow: auto;
}

.whiteText {
    color: white;
}

.findPathItems {
    background-color: #0b56c4;
}

.dropdown { /* for sorting dropdown */
   display: grid;
}

.dropdown-menu {
    top: 100%;
}

#searchType {
    position: relative;
    background-color: #05bc66;
    border-color: #02a85b;
    z-index: 0;
}

#searchTypeDropdown {
    display: inline-block;
}

#searchTypeDropdownMenu {
    position: absolute;
}

#search {
    z-index: 0;
}

.form-control {
    flex: 0 0 auto;
}

input[type='text'] {
    width: 125px;
}

input[id='searchingFor'] {
    margin: 0px 10px;
    width: 10px;
}

#searchingFor, #start {
    min-width: 80px;
}

#graphView {
    box-sizing: border-box;
    border-radius: 8px;
}

#canvasContainer {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    /* border: 2px solid #000000;*/
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    /* Prevent text highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
                outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    background-color: #f6f2f2;
}

#legend div, form {
    margin: 0px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Prevent text highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
                outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.legendItem {
    border: 4px solid white;
    width: 30px;
    height: 30px;
}

.click {
    background: url("../resources/clickIcon.png");
    background-size: cover;
}

.doubleClick {
    background: url("../resources/doubleClickIcon.png");
    background-size: cover;
}

.rightClick {
    background: url("../resources/rightClickIcon.png");
    background-size: cover;
}

.drag {
    background: url("../resources/dragIcon.png");
    background-size: cover;
}

.tap {
    background: url("../resources/touchIcon.png");
    background-size: cover;
}

.doubleTap {
    background: url("../resources/doubleTouchIcon.png");
    background-size: cover;
}

.dragTap {
    background: url("../resources/dragTouchIcon.png");
    background-size: cover;
}

.zoom {
    background: url("../resources/mouseWheelIcon.png");
    background-size: cover;
}

.zoomPinch {
    background: url("../resources/pinchIcon.jpg");
    background-size: cover;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: rgb(144, 238, 144);
}

.darkGreen {
    background-color: green;
}

.blue-yellow {
    background: linear-gradient(135deg, blue 50%, yellow 50%);
}

#alert { /* Custom alert */
    display: none;
    background-color: rgba(211, 211, 211, .6);
    position: absolute;
    bottom: 0%;
    left: 16px;
    right: 16px;
}

#helpMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: clamp(min(550px, 100%), 50%, 1000px);
    height: 67%;
    background-color: white;
    padding: 5px;
    border: 2px solid dimgrey;
    border-radius: 8px;
    display: none;
    flex-direction: column;

}

.helpHeader {
    color: black;
    text-align: center;
    margin: 10px;
}

.helpMessage {
    text-align: center;
    font-size: 13pt;
    padding: 5px;
    margin-bottom: 50px;
    flex: 1;
    position: relative;
    overflow: auto;
}

img {
    height: 50%;
    padding: 10px;
    object-fit: contain;
    margin: auto;
    display: block;
}

#helpImg {
    flex: 1 1 auto;
}

.bottom {
    position: absolute;
    bottom: 1%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.poppin { /* Used by graph input textboxes */
    position: absolute;
}

span.buttonDisplay { /* A class for representing a button in helpMessages.js */
    border-radius: 3px;
    padding: 3px;
    display: inline-block;
}

.main { /* Type of .buttonDisplay for navBar button */
    background-color: #0d6efd;
    color: white;
}

.input { /* Type of .buttonDisplay for an input in navBar */
    background-color: #e9ecef;
    color: black;
}

.algorithm { /* Type of .buttonDisplay for algorithm dropdown */
    background-color: #05bc66;
    color: white;
}

#closeTutorial {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
    font: 10pt Arial;
    width: 13px;
    height: 13px;
}

#closeTutorial::before, #closeTutorial::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    transform-origin: center;
    background-color: black;
    translate: 5px -2px;
}

#closeTutorial::before {
    rotate: 45deg;
}

#closeTutorial::after {
    rotate: -45deg;
}